<header class="flexcol flex-gap-s">
    {{!-- Character name field--}}
    <h1 style="border: 0; margin-bottom: 0px">
        <input style="background-color: transparent; font-size: 1em; height: 100%;" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>
    {{!-- Derived stats? --}}
    {{> 'newedo.traits-derived'}}
</header>