<header class="flexcol flex-gap-s">
    {{!-- Character name field--}}
    <h1 class="edo-actor-header">
        <input class="edo-actor-name" name="name" type="text" value="{{name}}" placeholder="Name" />
    </h1>
    {{!-- Derived stats? --}}
    {{> 'newedo.traits-derived'}}
</header>