@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.newedo {
  --edo-size-xs: 4px;
  --edo-size-s: 6px;
  --edo-size-m: 12px;
  --edo-size-l: 18px;
  --edo-size-xl: 24px;
  --edo-font-size-xs: 0.6em;
  --edo-font-size-s: 0.8em;
  --edo-font-size-m: 1em;
  --edo-font-size-l: 1.2em;
  --edo-font-size-xl: 2em;
  --edo-font-size-header: 4em;
  --edo-colour-light-1: #f7f3e8;
  --edo-colour-light-2: #f1e8d0;
  --edo-colour-light-3: #d6c3a3;
  --edo-colour-light-4: #ab8b65;
  --edo-colour-light-5: #967f64;
  --edo-colour-light-6: #836953;
  --edo-colour-dark-1: #111;
  --edo-colour-dark-2: #222;
  --edo-colour-dark-3: #444;
  --edo-colour-dark-4: #555;
  --edo-colour-dark-5: #666;
  --edo-colour-dark-6: #777;
  --edo-colour-warm-1: hsl(46, 74%, 65%);
  --edo-colour-warm-2: hsl(32, 84%, 58%);
  --edo-colour-warm-3: hsl(18, 83%, 55%);
  --edo-colour-warm-4: hsl(355, 88%, 35%);
  --edo-colour-cool-5: hsl(330, 38%, 37%);
  --edo-colour-cool-4: hsl(308, 28%, 40%);
  --edo-colour-cool-3: hsl(312, 20%, 18%);
  --edo-colour-cool-2: hsl(295, 18%, 12%);
  --edo-colour-cool-1: rgb(21, 15 24);
  --edo-colour-cool-1-25: rgba(21, 15, 24, 0.25);
  --edo-colour-cool-1-50: rgba(21, 15, 24, 0.5);
  --edo-colour-cool-1-75: rgba(21, 15, 24, 0.75);
  --edo-colour-cool-1-90: rgba(21, 15, 24, 0.9);
  --edo-input-bg: rgba(0, 0, 0, 0);
  --edo-input-c: rgba(0, 0, 0, 1);
  --edo-margin: var(--edo-size-m);
  --edo-padding: var(--edo-size-m);
  --edo-background-pearlescent:
      radial-gradient(ellipse at 100% 0%, #80e6ff, transparent),
      radial-gradient(ellipse at 100% 90%, #ff63d5, transparent),
      radial-gradient(ellipse at 100% 180%, #f94c4c, transparent),
      radial-gradient(ellipse at 100% 270%, #5ed000, transparent);
  --edo-background-watermelon:
      radial-gradient(ellipse at top, #ff63d5, transparent),
      radial-gradient(ellipse at bottom, #5ed000, transparent);
}

.newedo {
  --edo-colour-background: var(--edo-colour-light-2, red);
  --edo-colour-primary: var(--edo-colour-light-3, blue);
  --edo-colour-secondary: var(--edo-colour-light-4, green);
  --edo-colour-border: var(--edo-colour-light-6);
  --edo-colour-text-selection-bg: var(--edo-colour-warm-4);
  --edo-colour-text-selection: var(--edo-colour-light-3);
  --edo-colour-text-shadow: var(--edo-colour-cool-1-25);
  --edo-colour-text: var(--edo-colour-dark-1);
}
.newedo input,
.newedo button {
  --edo-input-background-colour: var(--edo-colour-primary);
}
.newedo input:disabled,
.newedo button:disabled {
  --edo-input-background-colour: var(--edo-colour-secondary);
}
.newedo img {
  --edo-background-1: var(--edo-colour-light-4);
}
.newedo .edo-bar {
  --edo-bar-bg: var(--edo-colour-cool-1-50);
}

.theme-dark .newedo {
  --edo-colour-background: var(--edo-colour-cool-1-75);
  --edo-colour-primary: var(--edo-colour-cool-3);
  --edo-colour-secondary: var(--edo-colour-cool-2);
  --edo-colour-border: var(--edo-colour-text);
  --edo-colour-text-selection-bg: var(--edo-colour-warm-4);
  --edo-colour-text-selection: var(--edo-colour-light-3);
  --edo-colour-text-shadow: var(--edo-colour-cool-1-25);
  --edo-colour-text: var(--edo-colour-light-1, white);
}

.newedo .window-content {
  color: var(--edo-colour-text);
  background: var(--edo-colour-background);
  padding: 8px;
  backdrop-filter: blur(10px);
}
.newedo .window-content ::selection {
  color: var(--edo-colour-text-selection);
  color: var(--edo-colour-text-selection-bg);
}
.newedo .window-content button,
.newedo .window-content input,
.newedo .window-content label,
.newedo .window-content b,
.newedo .window-content a {
  font-size: var(--edo-font-size);
}
.newedo .window-content input,
.newedo .window-content textarea,
.newedo .window-content button {
  background-color: var(--edo-input-background-colour);
}

.edo-xs {
  --edo-margin: var(--edo-size-xs);
  --edo-padding: var(--edo-size-xs);
  --edo-font-size: var(--edo-font-size-xs);
}

.edo-s {
  --edo-margin: var(--edo-size-s);
  --edo-padding: var(--edo-size-s);
  --edo-font-size: var(--edo-font-size-s);
}

.edo-m {
  --edo-margin: var(--edo-size-m);
  --edo-padding: var(--edo-size-m);
  --edo-font-size: var(--edo-font-size-m);
}

.edo-l {
  --edo-margin: var(--edo-size-l);
  --edo-padding: var(--edo-size-l);
  --edo-font-size: var(--edo-font-size-l);
}

.edo-xl {
  --edo-margin: var(--edo-size-xl);
  --edo-padding: var(--edo-size-xl);
  --edo-font-size: var(--edo-font-size-xl);
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

[data-action]:hover,
[data-action]:focus {
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.newedo .flex-group-center,
.newedo .flex-group-start,
.newedo .flex-group-end {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.newedo .flex-group-start {
  justify-content: flex-start;
  text-align: left;
}
.newedo .flex-group-end {
  justify-content: flex-end;
  text-align: right;
}
.newedo .flexrow {
  display: flex;
  flex-direction: row;
}
.newedo .flexcol {
  display: flex;
  flex-direction: column;
}
.newedo .flexshrink {
  flex: 0;
}
.newedo .flex {
  flex: 1;
}
.newedo .flex-between {
  justify-content: space-between;
}
.newedo .flex-start {
  justify-content: flex-start;
}
.newedo .flex-align-start {
  align-items: flex-start;
}
.newedo .flex-end {
  justify-content: flex-end;
}
.newedo .flex-align-end {
  align-items: flex-end;
}
.newedo .flexlarge {
  flex: 2;
}
.newedo .align-left {
  justify-content: flex-start;
  text-align: left;
}
.newedo .align-right {
  justify-content: flex-end;
  text-align: right;
}
.newedo .align-center {
  justify-content: center;
  text-align: center;
}
.newedo .flex-gap-xs {
  gap: 4px;
}
.newedo .flex-gap-s {
  gap: 6px;
}
.newedo .flex-gap-m {
  gap: 8px;
}
.newedo .flex-gap-l {
  gap: 12px;
}
.newedo .flex-gap-xl {
  gap: 16px;
}
.newedo .flex-reverse {
  flex-wrap: wrap-reverse;
}
.newedo .nowrap {
  flex-wrap: nowrap;
}

.sheet.actor .tab[data-tab].active,
.sheet.item .tab[data-tab].active {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.sheet.actor input[type=button],
.sheet.item input[type=button] {
  background-color: var(--input-background-color);
  border: 0;
  border-radius: 2px;
  margin-left: 2px;
  color: var(--input-text-color);
}
.sheet.actor prose-mirror,
.sheet.item prose-mirror {
  flex: 1;
}
.sheet.actor nav.tabs,
.sheet.item nav.tabs {
  margin-bottom: 6px;
}
.sheet.actor .edo-sheet-body,
.sheet.item .edo-sheet-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sheet.actor .edo-body-content,
.sheet.item .edo-body-content {
  flex: 1;
}
.sheet.actor .edo-tab-content,
.sheet.item .edo-tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.item-form {
  font-family: "Roboto", sans-serif;
}

.application nav.tabs .item {
  color: var(--colour-nav);
}
.application nav.tabs .item.active {
  color: var(--colour-nav-active);
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group label {
  display: flex;
  align-items: center;
  flex: 1;
}
.form-group .form-fields {
  flex: 2;
}
.form-group.stacked {
  flex-direction: column;
}

.edo-border-wrapper {
  flex: 0;
  border: 1px solid var(--edo-colour-border);
  border-radius: 5px;
  padding: 0.2em 1em;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.edo-resource-label {
  font-weight: bold;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
ol.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
ol.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.items-list .item-name {
  flex: 1;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
ol.items-list .item-name h3,
ol.items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
ol.items-list .item-controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
ol.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
ol.items-list .item {
  align-items: center;
  border-bottom: 1px solid var(--edo-colour-text);
  padding: 0.25rem 0;
  margin: 0;
}
ol.items-list .item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
ol.items-list .item:first-child {
  padding-top: 0;
  margin-top: 0;
}
ol.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
ol.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
ol.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  border: 2px groove #eeede0;
  font-weight: bold;
}
ol.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
ol.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
ol.items-list .item-delete {
  flex: 0 0 24px;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.group-details {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.group-details input[type=checkbox] {
  flex: 0;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

.banner-newedo {
  border: 0;
}

.sheet.actor .window-content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sheet.actor .window-content header > * {
  margin-bottom: 5px;
}
.sheet.actor .window-content .origins {
  display: block;
  font-size: 1.2em;
}
.sheet.actor .window-content .origins > * {
  display: inline-block;
}
.sheet.actor .window-content .edo-derived-traits {
  display: block;
}
.sheet.actor .window-content .edo-derived-traits > * {
  display: inline-block;
}
.sheet.actor .window-content .edo-derived-traits > * input {
  width: 2.5rem;
  height: 1rem;
  text-align: center;
  padding: 0;
}
.sheet.actor .window-content .edo-sheet-panel {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
}
.sheet.actor .window-content .edo-sheet-panel > * {
  margin-bottom: 5px;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card {
  flex: 0;
  width: 100%;
  font-size: 14px;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-switch {
  flex: 1 1;
  align-items: right;
  text-align: right;
  padding-right: 12px;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-title {
  text-align: left;
  flex: 2;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-list > * {
  border-bottom: 1px solid gray;
  gap: 5px;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-list > * :first-child {
  text-align: right;
  flex: 1;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-list > * :last-child {
  text-align: left;
  flex: 2;
}
.sheet.actor .window-content .edo-sheet-panel .fate-card .fate-list :last-child {
  border: 0;
}
.sheet.actor .window-content .edo-traits-list input {
  text-align: center;
}
.sheet.actor .window-content .edo-traits-list .edo-trait-value {
  height: 2em;
  font-size: 2em;
  font-weight: bold;
}
.sheet.actor .window-content .edo-traits-list .edo-trait-rank {
  width: 75%;
  height: 1.5em;
  border-radius: 0 0 5px 5px;
}
.sheet.actor .window-content .body {
  padding: 10px;
  flex: 1;
}
.sheet.actor .window-content .skill-lists {
  align-items: start;
  gap: 8px;
}
.sheet.actor .window-content .edo-skill-dice-button {
  padding: 0;
  height: 1.75em;
  min-height: 1.75em;
  min-width: 2.25em;
}

.sheet.item .tab {
  padding: 10px;
}
.sheet.item .description-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
  border-radius: 6px;
}
.sheet.item .description-editor .editor {
  flex: 1;
}
.sheet.item .summary {
  display: block;
  flex: 0 0 200px;
  margin-right: 4px;
}
.sheet.item .summary .detail {
  display: flex;
  flex-direction: row;
}
.sheet.item .summary .detail :first-child {
  flex: 1 0;
}
.sheet.item .summary .detail :last-child {
  flex: 2;
}
.sheet.item .sheet-header {
  padding: var(--edo-padding);
}

.edo-resource-bar {
  --padding: 2px;
  --height: 24px;
  --edo-colour-bar: green;
  --edo-colour-bar-bg: black;
  width: 100%;
  display: grid;
  flex: 0;
  border-radius: calc(var(--height) / 2 + var(--padding));
  padding: var(--padding);
}
.edo-resource-bar .edo-wrapper {
  background-color: var(--edo-colour-bar-bg);
  border-radius: calc(var(--height) / 2 + var(--padding));
  display: grid;
  grid-template-columns: 1fr;
  color: var(--colour-bar-input, rgb(237, 232, 211));
}
.edo-resource-bar .edo-wrapper > * {
  grid-row-start: 1;
  grid-column-start: 1;
}
.edo-resource-bar .edo-wrapper .fill {
  background-color: var(--edo-colour-bar, green);
  width: 50%;
  height: var(--height);
  border-radius: calc(var(--height) / 2 + var(--padding));
  transition: width 1s ease-out;
  max-width: 100%;
  min-width: 0%;
}
.edo-resource-bar .value {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.edo-resource-bar .value > * {
  font-weight: bold;
  padding: 0;
  font-size: 1.2em;
  flex: 1;
}
.edo-resource-bar .value input {
  height: var(--height);
  color: var(--colour-bar-input);
  background: transparent;
  border: 0;
  outline: none;
}

.edo-green {
  --edo-colour-bar: rgb(46, 164, 46);
}

.edo-blue {
  --edo-colour-bar: rgb(44, 87, 173);
}

.edo-red {
  --edo-colour-bar: rgb(202, 47, 47);
}

.edo-pink {
  --edo-colour-bar: rgb(223, 70, 95);
}

.edo-orange {
  --edo-colour-bar: rgb(222, 99, 22);
}

.edo-purple {
  --edo-colour-bar: rgb(135, 55, 172);
}

.edo-gold {
  --edo-colour-bar: rgb(179, 122, 0);
}

.feature-list {
  padding: 0 10px !important;
  list-style-type: none;
}
.feature-list .feature .details {
  transition: height 0.4s ease-in-out;
  transition-delay: 0ms;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
.feature-list .feature.expanded .inner {
  height: 40px;
}
.feature-list .feature .inner {
  padding: 0 10px;
  transition: height 0.4s ease-in-out;
  height: 0px;
}

.newedo#context-menu {
  width: auto;
}

/*
|| Collapsible items

.collapsible - Repersents a container with collapsible elements inside of it
.collapsible-content - a container to be shrunk down when the container is collapsed
.wrapper - the actual content being shrunk down
*/
.collapsible .fa-caret-down {
  transition: all 0.3s ease-in-out;
}
.collapsible.collapsed .fa-caret-down {
  transform: rotate(-90deg);
}
.collapsible.collapsed .collapsible-content {
  grid-template-rows: 0fr;
}
.collapsible .collapsible-content {
  display: grid;
  grid-template-rows: 1fr;
  transition: all 0.3s ease-in-out;
}
.collapsible .collapsible-content > .wrapper {
  overflow: hidden;
}

/*
|| Fillable bars
.bar - main wrapper
.bar
.bar.fill
*/
.edo-bar {
  padding: 4px;
  --edo-bar-size: 8px;
  --edo-bar-colour: green;
  --edo-bar-bg: black;
  --edo-bar-padding: 2px;
}
.edo-bar.edo-l {
  --edo-bar-size: 12px;
}
.edo-bar.edo-s {
  --edo-bar-size: 4px;
}
.edo-bar > .wrapper {
  background-color: var(--edo-bar-bg);
  border-radius: calc((var(--edo-bar-size) + var(--edo-bar-padding)) / 2);
  height: calc(var(--edo-bar-size) + var(--edo-bar-padding));
  padding: var(--edo-bar-padding);
}
.edo-bar > .wrapper .fill {
  background-color: var(--edo-bar-colour);
  border-radius: calc(var(--edo-bar-size) / 2);
  height: 100%;
  max-width: 100%;
  min-width: 0%;
}

.edo-inline-bar {
  --edo-bar-size: 1.4rem;
}
.edo-inline-bar.edo-s {
  --edo-bar-size: 1rem;
}
.edo-inline-bar.edo-l {
  --edo-bar-size: 1.8rem;
}
.edo-inline-bar > .wrapper {
  overflow: hidden;
  background-color: var(--edo-bar-bg);
  border-radius: calc((var(--edo-bar-size) + var(--edo-bar-padding)) / 2);
  height: auto;
  padding: var(--edo-bar-padding);
  display: grid;
  grid-template-columns: 1fr;
}
.edo-inline-bar > .wrapper > * {
  grid-row-start: 1;
  grid-column-start: 1;
}
.edo-inline-bar > .wrapper .fill {
  background-color: var(--edo-bar-colour);
  border-radius: calc(var(--edo-bar-size) / 2);
  height: 100%;
  max-width: 100%;
  min-width: 0%;
}
.edo-inline-bar > .wrapper .bar-inputs {
  display: flex;
  flex-direction: row;
}
.edo-inline-bar > .wrapper .bar-inputs > * {
  flex: 1;
}
.edo-inline-bar > .wrapper .bar-inputs input {
  height: var(--edo-bar-size);
  font-size: calc(var(--edo-bar-size) - 0.2em);
  border: 0px solid;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0;
}
.edo-inline-bar > .wrapper .bar-inputs input:focus {
  box-shadow: none;
  outline-style: none;
  font-weight: 1.1em;
  color: white;
}

.edo-input-bar {
  padding: 5px;
}

/*# sourceMappingURL=newedo.css.map */
