<div class="flexrow flex-gap-l">
    <div class="text-center">
        <div>Traits</div>
        <button class="text-center" type="button" data-action="featureTrait" style="width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-hand-fist"></i>
        </button>
    </div>
    <div class="text-center">
        <div>Items</div>
        <button class="text-center" type="button" data-action="featureItem" style="width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-sword"></i>
        </button>
    </div>
    <div class="text-center">
        <div>Effects</div>
        <button class="text-center" type="button" data-action="featureEffect" style="width: 100px; height: 100px;">
            <i style="font-size: 3em;" class="fas fa-fire"></i>
        </button>
    </div>
</div>