@use '../helper' as *;

.item-form {
  font-family: $font-primary;
}

.application nav.tabs .item {
  color: var(--colour-nav);

  &.active {
    color: var(--colour-nav-active);
    font-weight: bold;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;

  label {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .form-fields {
    flex: 2;
  }

  &.stacked {
    flex-direction: column;

    &.centered {
      align-items: center;
      text-align: center;
    }
  }
}

.edo-border-wrapper {
  flex: 0;
  border: 1px solid var(--edo-colour-border);
  border-radius: 5px;
  padding: 0.2em 1em;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}