@use '../helper' as *;

.item-form {
  font-family: $font-primary;
}

.application nav.tabs .item {
  color: var(--colour-nav);

  &.active {
    color: var(--colour-nav-active);
  }
}

.form-group {
  display: flex;
  flex-direction: row;

  label {
    flex: 1;
  }

  .form-fields {
    flex: 2;
  }
}