<div class="edo-tab-content edo-tab-traits flexcol flex-gap-l">
    {{!-- Core Stats --}}
    {{> 'newedo.traits-core'}}

    {{!-- Background rolls --}}
    {{> 'newedo.backgrounds'}}

    {{!-- Additional modifiers --}}
    {{> 'newedo.traits-attributes'}}

</div>