@use 'colours' as *;
@use 'fonts' as *;

// Variables
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
$attr-height: 80;
$attr-width: 70;

//player sheet
$margin-traitCore: 10px;
$border-groove: 2px groove #eeede0;
$border-solid: 2px solid black;
$border-thin: 1px solid gray;
$skill-grid: 30px;
$shadow-pink: 0 0 10px $c-pink;
$sheet-bg-image: url(../ui/parchment.jpg);
$bg-image: url(/ui/parchment.jpg);

.newedo {
    --edo-size-xs: 4px;
    --edo-size-s: 6px;
    --edo-size-m: 12px;
    --edo-size-l: 18px;
    --edo-size-xl: 24px;

    --edo-font-size-xs: 0.6em;
    --edo-font-size-s: 0.8em;
    --edo-font-size-m: 1em;
    --edo-font-size-l: 1.2em;
    --edo-font-size-xl: 2em;
    --edo-font-size-header: 4em;

    --edo-colour-light-1: #f7f3e8;
    --edo-colour-light-2: #f1e8d0;
    --edo-colour-light-3: #d6c3a3;
    --edo-colour-light-4: #ab8b65;
    --edo-colour-light-5: #967f64;
    --edo-colour-light-6: #836953;

    --edo-colour-dark-1: #111;
    --edo-colour-dark-2: #222;
    --edo-colour-dark-3: #444;
    --edo-colour-dark-4: #555;
    --edo-colour-dark-5: #666;
    --edo-colour-dark-6: #777;

    --edo-colour-warm-1: hsl(46, 74%, 65%);
    --edo-colour-warm-2: hsl(32, 84%, 58%);
    --edo-colour-warm-3: hsl(18, 83%, 55%);
    --edo-colour-warm-4: hsl(355, 88%, 35%);
    --edo-colour-cool-5: hsl(330, 38%, 37%);
    --edo-colour-cool-4: hsl(308, 28%, 40%);
    --edo-colour-cool-3: hsl(312, 20%, 18%);
    --edo-colour-cool-2: hsl(295, 18%, 12%);
    --edo-colour-cool-1: rgb(21, 15 24);

    --edo-colour-cool-1-25: rgba(21, 15, 24, 0.25);
    --edo-colour-cool-1-50: rgba(21, 15, 24, 0.5);
    --edo-colour-cool-1-75: rgba(21, 15, 24, 0.75);
    --edo-colour-cool-1-90: rgba(21, 15, 24, 0.9);

    --edo-input-bg: rgba(0, 0, 0, 0);
    --edo-input-c: rgba(0, 0, 0, 1);

    --edo-margin: var(--edo-size-m);
    --edo-padding: var(--edo-size-m);

    //=====================================================================
    //> Funny styles for funsies
    //=====================================================================
    --edo-background-pearlescent:
        radial-gradient(ellipse at 100% 0%, #80e6ff, transparent),
        radial-gradient(ellipse at 100% 90%, #ff63d5, transparent),
        radial-gradient(ellipse at 100% 180%, #f94c4c, transparent),
        radial-gradient(ellipse at 100% 270%, #5ed000, transparent);
    --edo-background-watermelon:
        radial-gradient(ellipse at top, #ff63d5, transparent),
        radial-gradient(ellipse at bottom, #5ed000, transparent);
}

//=========================================================================
//> Main style
//=========================================================================
.newedo {
    //=====================================================================
    //>- Colours
    //=====================================================================
    --edo-colour-background: var(--edo-colour-light-2, red);
    --edo-colour-primary: var(--edo-colour-light-3, blue);
    --edo-colour-secondary: var(--edo-colour-light-4, green);

    --edo-colour-border: var(--edo-colour-light-6);

    //=====================================================================
    //>- Text
    //=====================================================================
    --edo-colour-text-selection-bg: var(--edo-colour-warm-4);
    --edo-colour-text-selection: var(--edo-colour-light-3);
    --edo-colour-text-shadow: var(--edo-colour-cool-1-25);
    --edo-colour-text: var(--edo-colour-dark-1);

    //=====================================================================
    //>- Configure variables
    //=====================================================================
    input[type=text],
    input[type=number],
    input[type=button],
    button {
        --edo-input-background-colour: var(--edo-colour-primary);

        &:disabled {
            --edo-input-background-colour: var(--edo-colour-secondary);
        }
    }

    img {
        --edo-background-1: var(--edo-colour-light-4);
    }

    .edo-bar {
        --edo-bar-bg: var(--edo-colour-cool-1-50);
    }
}

//======================================================================================
//> Dark mode setup
//======================================================================================
.theme-dark .newedo {
    //=====================================================================
    //>- Colours
    //=====================================================================
    --edo-colour-background: var(--edo-colour-cool-1-75);
    --edo-colour-primary: var(--edo-colour-cool-3);
    --edo-colour-secondary: var(--edo-colour-cool-2);

    --edo-colour-border: var(--edo-colour-text);

    //=====================================================================
    //>- Text
    //=====================================================================
    --edo-colour-text-selection-bg: var(--edo-colour-warm-4);
    --edo-colour-text-selection: var(--edo-colour-light-3);
    --edo-colour-text-shadow: var(--edo-colour-cool-1-25);
    --edo-colour-text: var(--edo-colour-light-1, white);
}

//=====================================================================
//> Apply varialbes to elements
//=====================================================================
.newedo .window-content {

    color: var(--edo-colour-text);
    background: var(--edo-colour-background);
    padding: 8px;
    backdrop-filter: blur(10px);

    ::selection {
        color: var(--edo-colour-text-selection);
        color: var(--edo-colour-text-selection-bg);
    }

    button,
    input,
    label,
    b,
    a {
        font-size: var(--edo-font-size);
    }

    input,
    textarea,
    button {
        background-color: var(--edo-input-background-colour);
    }
}

.edo-xs {
    --edo-margin: var(--edo-size-xs);
    --edo-padding: var(--edo-size-xs);
    --edo-font-size: var(--edo-font-size-xs);
}

.edo-s {
    --edo-margin: var(--edo-size-s);
    --edo-padding: var(--edo-size-s);
    --edo-font-size: var(--edo-font-size-s);
}

.edo-m {
    --edo-margin: var(--edo-size-m);
    --edo-padding: var(--edo-size-m);
    --edo-font-size: var(--edo-font-size-m);
}

.edo-l {
    --edo-margin: var(--edo-size-l);
    --edo-padding: var(--edo-size-l);
    --edo-font-size: var(--edo-font-size-l);
}

.edo-xl {
    --edo-margin: var(--edo-size-xl);
    --edo-padding: var(--edo-size-xl);
    --edo-font-size: var(--edo-font-size-xl);
}