@use 'colours' as *;
@use 'fonts' as *;

// Variables
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
$attr-height: 80;
$attr-width: 70;

//player sheet
$margin-traitCore: 10px;
$border-groove: 2px groove #eeede0;
$border-solid: 2px solid black;
$border-thin: 1px solid gray;
$skill-grid: 30px;
$shadow-pink: 0 0 10px $c-pink;
$sheet-bg-image: url(../ui/parchment.jpg);
$bg-image: url(/ui/parchment.jpg);

.newedo {
    --edo-size-xs: 4px;
    --edo-size-s: 6px;
    --edo-size-m: 12px;
    --edo-size-l: 18px;
    --edo-size-xl: 24px;

    --edo-font-size-xs: 0.6em;
    --edo-font-size-s: 0.8em;
    --edo-font-size-m: 1em;
    --edo-font-size-l: 1.2em;
    --edo-font-size-xl: 2em;
    --edo-font-size-header: 4em;

    --edo-colour-light-1: #f7f3e8;
    --edo-colour-light-2: #f1e8d0;
    --edo-colour-light-3: #d6c3a3;
    --edo-colour-light-4: #b89873;
    --edo-colour-light-5: #a58e74;
    --edo-colour-light-6: #836953;

    --edo-colour-dark-1: #111;
    --edo-colour-dark-2: #222;
    --edo-colour-dark-3: #444;
    --edo-colour-dark-4: #555;
    --edo-colour-dark-5: #666;
    --edo-colour-dark-6: #777;

    --edo-colour-warm-1: #e8ca66;
    --edo-colour-warm-2: #ee9b3a;
    --edo-colour-warm-3: #ec682f;
    --edo-colour-warm-4: #a90b19;
    --edo-colour-cool-5: #813a5e;
    --edo-colour-cool-4: #82497a;
    --edo-colour-cool-3: #362733;
    --edo-colour-cool-2: #272128;
    --edo-colour-cool-1: rgb(21, 15 24);

    --edo-colour-cool-1-25: rgba(21, 15, 24, 0.25);
    --edo-colour-cool-1-50: rgba(21, 15, 24, 0.5);
    --edo-colour-cool-1-75: rgba(21, 15, 24, 0.75);
    --edo-colour-cool-1-90: rgba(21, 15, 24, 0.9);

    --edo-input-bg: rgba(0, 0, 0, 0);
    --edo-input-c: rgba(0, 0, 0, 1);

    --edo-margin: var(--edo-size-m);
    --edo-padding: var(--edo-size-m);

    //=================================================================
    // Funny styles for funsies
    //=================================================================
    --edo-background-pearlescent:
        radial-gradient(ellipse at 100% 0%, #80e6ff, transparent),
        radial-gradient(ellipse at 100% 90%, #ff63d5, transparent),
        radial-gradient(ellipse at 100% 180%, #f94c4c, transparent),
        radial-gradient(ellipse at 100% 270%, #5ed000, transparent);
    --edo-background-watermelon:
        radial-gradient(ellipse at top, #ff63d5, transparent),
        radial-gradient(ellipse at bottom, #5ed000, transparent);
}

.newedo {
    --edo-colour-1: var(--edo-colour-light-2);
    --edo-colour-2: var(--edo-colour-light-4);
    --edo-colour-3: var(--edo-colour-light-6);

    --edo-colour-border: var(--edo-colour-light-6);
    --edo-colour-text-selection-bg: var(--edo-colour-warm-4);
    --edo-colour-text-selection: var(--edo-colour-light-3);
    --edo-colour-text-shadow: var(--edo-colour-cool-1-25);
    --edo-colour-text: var(--edo-colour-dark-1);

    --edo-sheet-background: var(--edo-colour-light-2);

    --edo-background-1: var(--edo-colour-light-2);
    --edo-background-2: var(--edo-colour-light-4);
    --edo-background-3: var(--edo-colour-light-6);

    input {
        --edo-input-background-colour: var(--edo-colour-light-3);

        &:disabled {
            --edo-input-background-colour: var(--edo-colour-light-6);
        }
    }

    img {
        --edo-background-1: var(--edo-colour-light-4);
    }

    .edo-bar {
        --edo-bar-bg: var(--edo-colour-cool-1-50);
    }
}

//======================================================================================
// Dark mode setup
//======================================================================================
.theme-dark .newedo {
    --edo-colour-1: var(--edo-colour-cool-1);
    --edo-colour-2: var(--edo-colour-cool-2);
    --edo-colour-3: var(--edo-colour-cool-3);

    --edo-colour-text: var(--edo-colour-light-3);
    --edo-colour-text-selection: var(--edo-colour-light-3);
    --edo-colour-text-selection-bg: var(--edo-colour-cool-2);
    --edo-colour-border: var(--edo-colour-light-2);

    --edo-sheet-background: var(--edo-colour-cool-1-90);

    --edo-background-1: var(--edo-colour-cool-1-90);
    --edo-background-2: var(--edo-colour-cool-2);
    --edo-background-3: var(--edo-colour-cool-1);

    input {
        --edo-input-background-colour: var(--edo-colour-cool-3);

        &:disabled {
            --edo-input-background-colour: var(--edo-colour-cool-2);
        }
    }

    .edo-bar {
        --edo-bar-bg: var(--edo-colour-cool-1)
    }
}

.edo-xs {
    --edo-margin: var(--edo-size-xs);
    --edo-padding: var(--edo-size-xs);
    --edo-font-size: var(--edo-font-size-xs);
}

.edo-s {
    --edo-margin: var(--edo-size-s);
    --edo-padding: var(--edo-size-s);
    --edo-font-size: var(--edo-font-size-s);
}

.edo-m {
    --edo-margin: var(--edo-size-m);
    --edo-padding: var(--edo-size-m);
    --edo-font-size: var(--edo-font-size-m);
}

.edo-l {
    --edo-margin: var(--edo-size-l);
    --edo-padding: var(--edo-size-l);
    --edo-font-size: var(--edo-font-size-l);
}

.edo-xl {
    --edo-margin: var(--edo-size-xl);
    --edo-padding: var(--edo-size-xl);
    --edo-font-size: var(--edo-font-size-xl);
}