<div class="edo-tab-content">
    {{#each effects as | list key |}}
        <ol class="items-list">
            <li class="items-header flexrow collapsible">
                <span>{{list.label}}</span>
                <span>Controls</span>
                <span>
                    <a class="controls flexshrink" type="button" data-action="createEffect">
                        <i class="fa-solid fa-plus"></i>
                        New Effect
                    </a>
                </span>
            </li>
            {{#each list.effects as | effect |}}
                <li class="item flexrow flex-gap-xs" data-item-uuid="{{effect.uuid}}">
                    <span data-action="edit" class="flexrow nowrap item-name">
                        <img class="flexshrink" src="{{effect.img}}" width="30" height="30">
                        <h4>{{effect.name}}</h4>
                    </span>
                    <span class="item-controls">
                        {{#if effect.disabled}}<a data-action="disableEffect"><i class="fa-solid fa-bolt-slash"></i></a>{{/if}}
                        {{#if (not effect.disabled)}}<a data-action="disableEffect"><i class="fa-solid fa-bolt"></i></a>{{/if}}
                        {{#if ../../isEditMode}}<a data-action="delete"><i class="fa-solid fa-trash"></i></a>{{/if}}
                    </span>
                </li>
            {{/each}}
        </ol>
    {{/each}}
</div>