<div class="edo-tab-content edo-item-settings edo-armour-settings flex-gap-m">
    {{toFieldGroup schema 'soak.kin.value' value=system.soak.kin.value}}
    {{toFieldGroup schema 'soak.ele.value' value=system.soak.ele.value}}
    {{toFieldGroup schema 'soak.bio.value' value=system.soak.bio.value}}
    {{toFieldGroup schema 'soak.arc.value' value=system.soak.arc.value}}
</div>