<div class="edo-tab-content edo-item-settings edo-armour-settings flex-gap-m">
    {{toFieldGroup schema 'soak.kin' value=system.soak.kin}}
    {{toFieldGroup schema 'soak.ele' value=system.soak.ele}}
    {{toFieldGroup schema 'soak.bio' value=system.soak.bio}}
    {{toFieldGroup schema 'soak.arc' value=system.soak.arc}}
</div>