<div class="edo-tab-content edo-item-settings edo-rote-settings flex-gap-m">
    {{{ selector.skill }}}

    {{toFieldGroup system.schema 'cost' value=system.cost label='cost'}}

    <div class="form-group">
        <label>Kami:</label>
    </div>

    {{toFieldGroup system.schema 'tn' value=system.tn label='TN'}}

    <div class="form-group">
        <label>Action cost:</label>
        <select name="system.action">
            <option value="Full">Full</option>
            <option value="Quick">Quick</option>
        </select>
    </div>
</div>