<div class="edo-tab-content">
    {{!-- List of augments the character has --}}
    <div>
        <li class="items-header flexrow collapsible">
            <span>Augment</span>
            <span>Install</span>
        </li>
        <ol class="items-list">
            {{#each itemTypes.augment as | augment key |}}

                <li class="item flexrow" data-item-uuid="{{augment.uuid}}">
                    {{!-- Link to the fate opens up the item sheet --}}
                    <span class="flexrow align-center flex-start item-name">
                        <img src="{{augment.img}}" width="30" height="30">
                        <h4 data-action="edit">{{augment.name}}</h4>
                    </span>
                    <span class="item-detail">{{augment.system.biofeedback}}%</span>
                    
                    <span class="item-controls">
                        
                        {{#if (not augment.installed) }} <span data-action="use" data-use="install"><i class="fa-solid fa-microchip"></i></span> {{/if}}
                        {{#if augment.installed}} <span data-action="use" data-use="install"><i class="fa-solid fa-microchip"></i></span> {{/if}}
                        {{#if ../isEditMode}} <span class="item-delete"><i class="fa-solid fa-trash"></i></span> {{/if}}
                    </span>
                </li>

            {{/each}}
        </ol>
    </div>
</div>