<section class="edo-sheet-body flexcol">
    <div data-application-part="header"></div>

    {{> "newedo.tabs-nav"}}

    <section class="edo-body-content scrollable">
        {{> "newedo.tabs-content"}}
    </section>
</section>