.newedo {

  // Flexbox.
  .flex-group-center,
  .flex-group-start,
  .flex-group-end {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex-group-start {
    justify-content: flex-start;
    text-align: left;
  }

  .flex-group-end {
    justify-content: flex-end;
    text-align: right;
  }

  .flexrow {
    display: flex;
    flex-direction: row;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
  }

  .flexshrink {
    flex: 0;
  }

  .flex {
    flex: 1
  }

  .flex-between {
    justify-content: space-between;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-align-start {
    align-items: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

  .flex-align-end {
    align-items: flex-end;
  }

  .flexlarge {
    flex: 2;
  }

  // Alignment styles.
  .align-left {
    justify-content: flex-start;
    text-align: left;
  }

  .align-right {
    justify-content: flex-end;
    text-align: right;
  }

  .align-center {
    justify-content: center;
    text-align: center;
  }

  .flex-gap-s {
    gap: 4px;
  }

  .flex-gap-m {
    gap: 8px;
  }

  .flex-gap-l {
    gap: 12px;
  }

  .flex-reverse {
    flex-wrap: wrap-reverse;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
}