.newedo {

  // Flexbox.
  .flex-group-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .flex-group-start {
    justify-content: flex-start;
    text-align: left;
  }

  .flex-group-end {
    justify-content: flex-end;
    text-align: right;
  }

  .flexrow {
    display: flex;
    flex-direction: row;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
  }

  //======================================================================
  //> Flex sizing
  //======================================================================
  .flexshrink,
  .flex0 {
    flex: 0;
  }

  .flex,
  .flex1 {
    flex: 1
  }

  .flexlarge,
  .flex2 {
    flex: 2;
  }

  //======================================================================
  //> Flex justification
  //======================================================================
  .flex-between {
    justify-content: space-between;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

  //======================================================================
  //> Flex alignment
  //======================================================================
  .align-end {
    align-items: flex-end;
  }

  .align-center {
    align-items: center;
  }

  .align-start {
    align-items: flex-start;
  }

  //======================================================================
  //> Alignment quick sets
  //======================================================================
  .flex-align-left {
    justify-content: flex-start;
    text-align: left;
  }

  .flex-align-right {
    justify-content: flex-end;
    text-align: right;
  }

  .flex-align-center {
    justify-content: center;
    text-align: center;
  }

  //======================================================================
  //> Flex spacing
  //======================================================================
  .flex-gap {
    gap: var(--edo-gap)
  }

  .flex-gap-xs {
    gap: 4px;
  }

  .flex-gap-s {
    gap: 6px;
  }

  .flex-gap-m {
    gap: 8px;
  }

  .flex-gap-l {
    gap: 12px;
  }

  .flex-gap-xl {
    gap: 16px;
  }

  .flexwrap {
    flex-wrap: wrap;
  }

  .flex-reverse {
    flex-wrap: wrap-reverse;
  }

  .nowrap,
  .flex-nowrap {
    flex-wrap: nowrap;
  }

  .margin-right {
    margin-right: var(--edo-margin, 6px);
  }

  .margin-left {
    margin-left: var(--edo-margin, 6px);
  }

  .margin-top {
    margin-top: var(--edo-margin, 6px);
  }

  .margin-bottom {
    margin-bottom: var(--edo-margin, 6px);
  }

  .margin-vertical {
    margin: var(--edo-margin, 6px) 0 var(--edo-margin, 6px) 0;
  }

  .margin-horizontal {
    margin: 0 var(--edo-margin, 6px) 0 var(--edo-margin, 6px);
  }
}