@use '../helper' as *;

// For now, these styles only apply to actor and item sheets
.sheet.actor,
.sheet.item {

    // Controls the displaying of the active tab
    .tab[data-tab].active {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
    }

    input[type="button"] {
        background-color: var(--input-background-color);
        border: 0;
        border-radius: 2px;
        margin-left: 2px;
        color: var(--input-text-color);
    }

    prose-mirror {
        flex: 1;
        menu button{
            background: transparent;
        }
    }

    nav.tabs {
        margin-bottom: 6px;
    }

    .edo-sheet-body {
        display: flex;
        flex-direction: column;
        flex: 1
    }

    .edo-body-content {
        flex: 1;
    }

    .edo-tab-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }
}