<header class="sheet-header edo-item-header">
    <div class="flexrow">
        <img class="profile-img flexshrink" data-action="editImage" src="{{document.img}}" title="{{name}}" width="64" height="64" />
        <div class="header-fields">
            <h1 class="edo-item-header">
                <input class="edo-item-name" name="name" type="text" value="{{name}}" placeholder="Name" />
            </h1>
        </div>
    </div>
</header>